@font-face {
  font-family: 'balqis';
  src: url('../fonts/balqis.woff2') format('woff2'),
       url('../fonts/balqis.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
       url('../fonts/RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
       url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
       url('../fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


*, 
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #000;

  font-family: 'Roboto Condensed', san-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  visibility: hidden;
  font-size: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-section {
  margin: 200px auto;
  max-width: 1920px;
}

.section__title {
  font-family: 'balqis';
  font-weight: 400;
  font-size: 96px;
  line-height: 128px;
  color: #E2AB3F;
}

.section__subtitle {
  margin-top: -25px;
  margin-left: 181px;
  margin-bottom: 100px;

  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.section__container {
  max-width: 1230px;
  position: absolute;
  margin: 0 auto;
  padding: 0 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn {
  padding: 11px 50px;

  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-transform: uppercase;
  
  border: 1px solid #E2AB3F;
  background: transparent;
  transition: background-color 2ms ease-in-out;
}

.btn:hover {
  background-color: #E2AB3F;
}

/* Header
===================*/
.header {
  background: url('../images/bg.jpg') bottom center no-repeat;
  height: 100vh;
  background-size: cover;

  text-align: center;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;

  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.nav__list {
  display: flex;
} 

.nav__list-item + .nav__list-item {
  margin-left: 52px;
}

.nav__list-link:hover {
  text-decoration: underline;
}

.header__phone {
  position: relative;
  padding-left: 40px;
}

.header__phone::before {
  position: absolute;
  content: '';
  display: block;
  background: url(../images/phone_icon.svg);
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__title {
  margin-top: 152px;

  font-family: 'balqis';
  font-weight: 400;
  font-size: 250px;
  line-height: 334px;
}

.header__subtitle {
  margin-top: -66px;
  margin-right: 86px;

  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: italic;
  font-size: 56px;
  line-height: 66px;

  text-align: right;
}

/* Fairy-tail
===================*/
.fairy-tail__inner {
  position: relative;
}

.fairy-tail__slider {
  width: 50%;
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  border: none;
  background-color: transparent;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.fairy-tail__body {
  width: 50%;
  height: 100%;
  margin-left: auto;
  padding-left: 55px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
} 

.fairy-tail__text {
  padding: 10px 0;
}

/* Our trip
===================*/
.out-trip__inner {
  position: relative;
}

.out-trip__body {
  width: 50%;
  height: 100%;
  padding-right: 55px;
}

.our-trip__subtitle {
  margin-left: 230px;
}

.our-trip__list {
  height: 100%;
  font-size: 24px;
  line-height: 28px;
}

.our-trip__item {
  margin-bottom: 50px;
}


.our-trip__title {
  line-height: 2;
}

.our-trip__slider {
  width: 50%;
  margin-left: auto;
}


/* Hotel
===================*/
.hotel__subtitle {
  margin-left: 120px;
} 

.hotel__inner {
  display: flex;
}

.hotel__image {
  margin-right: 100px;
}

.hotel-text {
  margin-bottom: 20px;
}

.hotel__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.hotel__item {
  margin-top: 50px;
}

/* Price
===================*/
.price-subtitle {
  margin-left: 120px;
}

.price__inner {
  position: relative;
  display: flex;
}

.price__on {
  margin-right: 70px;
  max-width: 530px;
}

.price__item:not(:last-child) {
  margin-bottom: 20px;
}

.price__title {
  margin-bottom: 50px;

  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.balloon_1 {
  position: absolute;
  bottom: 0;
  left: 91%;
}

.balloon_2 {
  position: absolute;
  top: 15%;
  left: 85%;
}

.big_balloon {
  position: absolute;
  bottom: 50%;
  left: 95%;
}

/* Order
===================*/
.order__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__content {
  text-align: center;
  margin-right: 113px;
}

.order__info {
  margin-bottom: 100px;
}

.order__img img {
  width: 100%;
}

.order__date,
.order__price {
  font-family: 'balqis';
  font-weight: 400;
  font-size: 96px;
  line-height: 128px;
  color: #E2AB3F;
}

.order__price {
  margin-left: 110px;
}

.order__date-text,
.order__price-text {
  margin-top: -25px;
  margin-bottom: 0px;

  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.order__date-text {
  margin-left: 200px;

  font-style: italic;
}

.order__price-text {
  margin-left: 310px;
}

.order__form {
  max-width: 383px;
  margin: 0 auto;
}

.form__title {
  margin-bottom: 50px;

  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.order__input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 31px;
  border: 1px solid #E2AB3F;

  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.order__input::placeholder {
  color: #000;
}

/* Footer
===================*/
.footer {
  background: url('../images/bg_footer.jpg') bottom center no-repeat;
  height: 100vh;
  background-size: cover;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: right;
}

.footer__contacts {
  width: 356px;
  height: 527px;
  background: url('../images/balloon_white.svg') center no-repeat;
  margin-top: 90px;
  margin-left: 10%;
  padding-top: 71px;

  text-align: center;
}

.footer__contacts-title {
  font-family: 'balqis';
  font-weight: 400;
  font-size: 86px;
  line-height: 115px;
  color: #E2AB3F;

  margin-bottom: 45px;
}

.footer__contacts-phone,
.footer__contacts-mail {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.footer__contacts-phone::before,
.footer__contacts-mail::before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: 0;
}

.footer__contacts-phone {
  margin-bottom: 20px;
}

.footer__contacts-phone::before {
  margin-bottom: 20px;
  background-image: url('../images/footer/phone.svg');
}

.footer__contacts-mail::before {
  background-image: url('../images/footer/mail.svg');
}

.social__list {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.social__link {
  margin: 0 7px;
}


.footer__text {
  text-align: right;
  font-family: 'balqis';
  font-weight: 400;
  font-size: 86px;
  line-height: 115px;
}

@media (max-width: 1520px) {
  .price__on,
  .price__off {
    position: relative;
    z-index: 1;
  }

  .big_balloon {
    left: 90%;
  }
}

@media (max-width: 1390px) {
  .big_balloon {
    left: 80%;
  }

  .balloon_2 {
    left: 95%;
}
}

@media (max-width: 1240px) {
  .header__title {
    padding-top: 120px;
    font-size: 180px;
    line-height: 220px;
  }

  .header__subtitle {
    margin-top: -55px;
    margin-right: 120px;

    font-size: 50px;
  }
}

@media (max-width: 1199px) {
  .page-section {
    margin: 150px auto;
  }

  .big_balloon {
    left: 70%;
  }

  .balloon_1 {
    left: 80%;
  }

  .balloon_2 {
    top: 30%;
    left: 85%;
  }

  .fairy-tail__img img {
    height: 55vh;
    width: 100%;
    object-fit: cover;
  }

  .our-trip__img img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .our-trip__body {
    max-height: 100vh;
    padding-left: 5px;
    overflow-y: scroll;
  }

  .hotel__item {
    max-width: 47%;
    margin-top: 10px;
  }

  .hotel__item img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
  }

  .order__content {
    margin-right: 70px;
  }

  .order__img {
    height: 100vh;
    width: 50%;
    object-fit: cover;
  }
}

@media (max-width: 991px) {
  .section__container {
    position: static;
  }

  .fairy-tail__slider,
  .our-trip__slider {
    width: 100%;
  }

  .fairy-tail__body {
    width: 100%;
    padding-left: 0px;
  }

  .our-trip__body {
    width: 100%;
    max-height: initial;
    overflow-y: initial;

    margin-bottom: 50px;

    text-align: center;
  }

  .section__title,
  .section__subtitle {
    text-align-last: left;
  }

  .hotel__image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .hotel__inner {
    flex-wrap: wrap;
  }

  .hotel__list {
    justify-content: center;
  }

  .hotel__item {
    min-width: 40%;
    margin: 10px 5px;
  }

  .hotel__item img {
    object-fit: contain;
  }

  .price__on {
    max-width: 60%;
  }

  .big_balloon {
    left: 45%;
  }

  .balloon_1 {
    left: 70%;
  }

  .balloon_2 {
    top: 0%;
    left: 80%;
  }

  .order__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .order__content {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .order__img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 840px) {
  .page-section {
    margin: 100px auto;
  }

  .header__top {
    padding-top: 60px;

    font-size: 20px;
    line-height: 22px;
  }

  .header__phone::before {
    width: 25px;
    height: 25px;
    background-size: cover;
  }

  .nav__list-item + .nav__list-item {
    margin-left: 45px;
  }

  .header__title {
    padding-top: 100px;
    font-size: 130px;
    line-height: 160px;
  }

  .header__subtitle {
    margin-top: -40px;
    margin-right: 80px;

    font-size: 30px;
  }

  .section__title {
    font-size: 80px;
    line-height: 100px;
  }

  .section__subtitle {
    margin-top: -20px;
    margin-left: 155px;
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 24px;
  }

  .fairy-tail__img img {
    height: 45vh;
    width: 100%;
    object-fit: cover;
  }

  .our-trip__subtitle {
    margin-left: 190px;
  }

  .our-trip__img img {
    height: 65vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .our-trip__img-center img {
    object-position: center;
  }

  .price__inner {
    flex-wrap: wrap;
  }

  .price__on {
    max-width: initial;
    margin-bottom: 50px;
  }

  .price__title {
    margin-bottom: 30px;
  }

  .big_balloon {
    left: 60%;
    bottom: 65%;
  }

  .balloon_1 {
    left: 55%;
    bottom: 10%;
  }

  .balloon_2 {
    top: 55%;
    left: 75%;
  }

  .order__img {
    height: 80vh;
    width: 100%;
  }
}

@media (max-width: 585px) {
  .header__top {
    justify-content: center;
    flex-wrap: wrap;
  }

  .nav {
    width: 100%;
    margin: 0 0 25px;

    text-align: center;
  }

  .nav__list {
    justify-content: center;
  }

  .header__title {
    padding-top: 80px;
    font-size: 90px;
    line-height: 120px;
  }

  .header__subtitle {
    margin-top: -30px;
    margin-right: 50px;

    font-size: 25px;
    line-height: 33px;
  }

  .fairy-tail__img img {
    height: 35vh;
    width: 100%;
    object-fit: cover;
  }

  .our-trip__item {
    font-size: 18px;
    line-height: 21px;
  }

  .our-trip__img img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  .hotel__list,
  .price__inner {
    justify-content: center;
  }

  .price__on,
  .price__off {
    text-align: center;
    margin-right: 0;
  }

  .big_balloon {
    left: 40%;
    bottom: 50%;
  }

  .balloon_2 {
    top: 58%;
    left: 10%;
  }

  .order__date-text {
    margin-left: 100px;
  }

  .order__price-text {
    margin-left: 205px;
  }
}

@media (max-width: 420px) {
  .page-section {
    margin: 50px auto;
  }

  .header__top {
    padding-top: 60px;

    font-size: 18px;
    line-height: 20px;
  }

  .header__phone::before {
    width: 20px;
    height: 20px;
    background-size: cover;
  }
  
  .header__title {
    margin-top: 80px;
    padding-top: 50px;

    font-size: 70px;
    line-height: 90px;
  }

  .header__subtitle {
    margin-top: -20px;
    margin-right: 20px;

    font-size: 20px;
    line-height: 25px;
  }

  .section__title {
    font-size: 60px;
    line-height: 80px;
  }

  .section__subtitle {
    margin-left: 110px;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 24px;
  }

  .fairy-tail__content {
    font-size: 16px;
    line-height: 18px;
  }

  .fairy-tail__img img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }

  .our-trip__subtitle {
    margin-left: 145px;
  }

  .our-trip__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .our-trip__img img {
    height: 35vh;
    width: 100%;
    object-fit: cover;
  }

  .hotel__content {
    font-size: 16px;
    line-height: 18px;
  }

  .big_balloon {
    left: 30%;
    bottom: 50%;
  }

  .order__info {
    margin-bottom: 50px;
  }

  .order__img {
    height: 60vh;
    width: 100%;
  }
}